<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="author" content="<%= config.author %>">
    <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <% let title = [config.title] %>
    <% if (page.tag) {
        title.unshift(`${__('tags')}: ${page.tag}`)
    } %>
    <% if (page.category) {
        title.unshift(`${__('categories')}: ${page.category}`)
    }%>
    <% if (page.archive) {
        title.unshift(`${__('archive_a')}`)
    }%>
    <% if (page.title) {
        title.unshift(`${page.title}`)
    }%>
    <title><%= title.join(' | ') %></title>
    <link rel="icon" href="/imgs/favicon.jpg" type="image/jpeg">
    <link href="<%- config.url %>" rel="prefetch" />
    <link rel="preconnect" href="<%- config.url %>" />
    <link rel="dns-prefetch" href="<%- config.url %>" />

    <%- css(['css/bootstrap.min.css', 'css/style.css']) %>
    <link rel="preload" href="/css/aos.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/aos.css"></noscript>
    <link rel="preload" href="/js/highslide/highslide.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/js/highslide/highslide.css"></noscript>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/aos.js" defer></script>
    <script src="/js/highslide/highslide-full.min.js" defer></script>
    <style type="text/css">
        @media (max-width: 768px) {
            body {
                background-color: #f0f0f0;
                background: url('/imgs/<%= theme.xs_bg_image %>');
                background-attachment: fixed;
            }
        }
        <% if(theme.custom_cursor === false) { %>
        body {
            cursor: auto !important;
        }
        a {
            cursor: auto !important;
        }
        #gal-gotop {
            cursor: auto !important;
        }
        <% } %>
    </style>
    <% if(theme.leancloud.appid && theme.leancloud.appkey) { %>
    <script src="//cdn1.lncld.net/static/js/3.4.2/av-min.js"></script>
    <script>
      AV.init({
        appId: '<%= theme.leancloud.appid %>',
        appKey: '<%= theme.leancloud.appkey %>'
      })
    </script>
    <% } %>
    <!--<script type="text/javascript">
      if (document.images) {
        var avatar = new Image();
        avatar.src = '<%- url_for('imgs/' + theme.author_image) %>'
        var previews = '<%= theme.default_preview %>'.split(',')
        var previewsPreLoad = []
        for(var i = 0; i < length; i++) {
          previewsPreLoad.push(new Image())
          previewsPreLoad[previewsPreLoad.length - 1].src = '<%- url_for('imgs/preview') %>' + previews[i]
        }
      }
    </script>-->
</head>